#div-lista {
    background-color: var(--branca);
    padding: 20px;
    margin: 5px;
    border-radius: 8px;
    
}

#div-lista h3 {
    padding: 30px 0px;
}

#div-lista-cabecalho {
    background-color: var(--cor1);
    color: var(--branca);
}

#div-lista-itens {
    min-height: 500px;
    width: 100%;
}

#div-lista-cabecalho,
.item-produto {
    height: 50px;
    width: 100%;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.item-produto {
    color: var(--cor1);
}

#div-lista h3{
    color: var(--cor1);
}

.item-produto {
    margin: 20px 0px;

}

.input-num-qtde {
    width: 50px;
    padding: 5px;
    text-align: center;
    color: var(--cor1);
    font-weight: bold;
}

.item-produto img {
    width: 15px;
    cursor: pointer;
}

.colTp01 {
    width: 30px;
    text-align: center;
}

.colTp02 {
    width: 80px;
}

.colTp03 {
    width: 80px;
    text-align: right;
}

.colBtn{
    width: 20px;
}

.isento{
    background-color: var(--cor1);
    color:  var(--branca);
    padding: 5px;
}